html,
body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  margin: 2em;
}

label {
  display: block;
  margin-bottom: 2em;
}

input,
select {
  display: block;
  width: 100%;
  height: 2em;
  font-size: 20px;
  padding: 0.2em;
  box-sizing: border-box;
}
