html,
body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  margin: 2em auto;
  max-width: 30em;
}

label {
  display: block;
  margin-bottom: .5em;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  height: 2em;
  font-size: 20px;
  padding: 0.2em;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: auto;
}

.field {
  margin-bottom: 2em;
}
